{% extends "Detector/base.html" %}
{% block content %}
<div class="container">
    <div class="container w-75 h-50 border border-1">
        <form method="POST">
            <legend class="border-bottom mb-4">Loghează-te</legend>
            {% csrf_token %}
            {% for field in form  %}
              <div class="w-100 h-100 mb-3 mt-3 form-group">
                <div class="text ms-0 mb-1">{{ field.label_tag }}</div>
                {{field}}
                <div class="text text-danger ms-0 mb-1">{{ field.errors }}</div>
                <div class="text text-muted ms-2 mt-1">{{ field.help_text}}</div>
              </div>
            {% endfor %}
            <div class="form-group text text-muted">
                <button class="btn btn-django" type="submit">Loghează-te</button>
                <small class="text text-muted ms-2">
                    <a href="{% url 'password_reset' %}">Ți-ai uitat parola?</a>
                </small>
            </div>
        </form>
        <div class="border-top mt-3 mb-3">
            <small class="text-muted">
                Ai nevoie de un cont? <a class="ml-2" href="{% url 'register'%}">Înregistrează-te acum!</a>
            </small>
        </div>
    </div>
</div>
{% endblock content %}