{% extends "Detector/base.html" %}
{% block content %}
<div class="container">
    <h2>Despre noi</h2>
    <div class="border-top mt-3 mb-3">
        <small class="text">
            Misiunea noastră este să oferim rezultate precise și de înaltă calitate, utilizând tehnologii avansate și metode de analiză riguroase, care să ajute în diagnosticarea riscului de boală cardiovasculară.</br></br>
            Ne mândrim cu un angajament ferm față de excelență și acuratețe, oferind date fiabile care să ajute pacienții și profesioniștii din domeniul medical.
            Este esențial ca rezultatele și estimările realizate de aplicație să fie verificate împreună cu un medic. Doar un specialist poate interpreta corect datele și poate oferi un diagnostic precis și un plan de tratament adecvat. 
            Prin urmare, înucrajăm colaborarea strânsă cu medicii pentru a asigura cele mai bune decizii privind sănătatea pacienților.
        </small>
    </div>
</div>
{% endblock content %}